<section class="flex-container">
  <main class="flex-item main">
    <h2>.bookings</h2>

    Sort by:
    <a href="/bookings">Property name</a>
    <a href="/bookings/by_check_in_date">Check in date</a>
    <a href="/bookings/by_check_out_date">Check out date</a>

    <a href="/bookings/new" class="button">add a booking now</a>

    <div id="wrapper">
      <% @bookings.each do |booking| %>
        <div class="card-cont">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="booking">
                  <h3><a href="/bookings/<%= booking.id %>"><%= booking.property.name %></a></h3>
                  <p>Guest:<br> <%= booking.guest.guest_name%></p>
                  <p>Check in:<br> <%= booking.check_in_date %></p>
                  <p>Check out:<br> <%= booking.check_out_date %></p>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="booking">
                  <h3><a href="/bookings/<%= booking.id %>"><%= booking.property.name %></a></h3>
                  <p>Pax:<br> <%= booking.pax %>
                  <p>Nights:<br> <%= booking.nights %></p>
                  <p>Total earning:<br>£ <%= booking.calc_total_earning(booking.nights, booking.property) %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>

  </main>
</section>
