<section class="flex-container">
  <main class="flex-item main">
    <h4>update your property info.</h4>

    <form method="post" action="/properties/<%= @property.id %>">

      <div class="form-wrapper">
        <div class="form-el">
          <label for="name-field">Name:</label>
        <input
        type="text"
        name="name"
        id="name-field"
        value="<%= @property.name %>"
        />
      </div>

      <div class="form-el">
        <label for="category-field">Category:</label>
        <input
        type="text"
        name="category"
        id="category-field"
        value="<%= @property.category %>"
        />
      </div>

      <div class="form-el">
        <label for="address-field">Address:</label>
        <input
        type="text"
        name="address"
        id="address-field"
        value="<%= @property.address %>"
        />
      </div>

      <div class="form-el">
        <label for="place-field">Place:</label>
        <input
        type="text"
        name="place"
        id="place-field"
        value="<%= @property.place %>"
        />
      </div>

      <div class="form-el">
        <label for="booking_platform-selection">Select a booking plataform:</label>
        <select name="booking_platform" id="booking_platform-selection">
          <option
          value="Airbnb"
          <%= "selected" if @property.booking_platform == "Airbnb" %>
          >Airbnb</option>
          value="Booking.com"
          <%= "selected" if @property.booking_platform == "Booking.com" %>
          >Booking.com</option>
          <option
          value="Homeaway"
          <%= "selected" if @property.booking_platform == "Homeaway" %>
          >Homeaway</option>
        </select>
      </div>

      <div class="form-el">
        <label for="sleeps-field">Sleeps:</label>
        <input
        type="number"
        name="sleeps"
        id="sleeps-field"
        value="<%= @property.sleeps() %>"
        />
      </div>

      <div class="form-el">
        <label for="daily_fee-field">Daily fee:</label>
        <input
        type="text"
        name="daily_fee"
        id="daily_fee-field"
        value="<%= @property.daily_fee %>"
        />
      </div>

      <div class="form-el">
        <label for="contacts-field">Contacts:</label>
        <input
        type="text"
        name="contacts"
        id="contacts-field"
        value="<%= @property.contacts %>"
        />
      </div>

      <input type='submit' class="button" value="update!">

      </div>
      </form>
    </main>
  </section>
  
