<section class="flex-container">
  <main class="flex-item main">

    <h2 class="page_title"><%= @property.name %></h2>

<p>Category: <%= @property.category %></p>
<p>Address: <%= @property.address %></p>
<p>Place: <%= @property.place %></p>
<p>Booking platform: <%= @property.booking_platform %></p>
<p>Sleeps: <%= @property.sleeps %></p>
<p>Daily fee: £<%= @property.daily_fee %></p>
<p>Contacts: <%= @property.contacts %></p>

<a href="/properties/<%= @property.id %>/edit" class="button">edit</a>
<form action="/properties/<%= @property.id %>/delete" method="POST"><input type="submit" value="delete" class="button"></form>

</main>
</section>
