<section class="flex-container">
  <main class="flex-item main">
    <h4>update your booking info.</h4>


    <form method="post" action="/bookings/<%= @booking.id %>">
      <div class="form-wrapper">
      <div class="form-el">
      <label for="property_selection">Select property:</label>
      <select name="property_id" id="property_selection" selected="<%= @booking.property_id  %>">
        <% @properties.each do |property| %>
          <% if property.id == @booking.property_id %>
            <option value=<%= property.id %> selected><%= property.name %></option>
          <% else %>
            <option value=<%= property.id %>><%= property.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="property_selection">Select guest:</label>
      <select name="guest_id" id="guest_selection" selected="<%= @booking.guest_id  %>">
        <% @guests.each do |guest| %>
          <% if guest.id == @booking.guest_id %>
            <option value=<%= guest.id %> selected><%= guest.guest_name %></option>
          <% else %>
            <option value=<%= guest.id %>><%= guest.guest_name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="pax-field">Pax:</label>
      <input
      type="text"
      name="pax"
      id="pax-field"
      value="<%= @booking.pax %>"
      />
    </div>

    <div class="form-el">
      <label for="check_in_date-field">Check in date:</label>
      <input
      type="text"
      name="check_in_date"
      id="check_in_date-field"
      value="<%= @booking.check_in_date %>"
      />
    </div>

    <div class="form-el">
      <label for="check_out_date-field">Check out date:</label>
      <input
      type="text"
      name="check_out_date"
      id="check_out_date-field"
      value="<%= @booking.check_out_date %>"
      />
    </div>

    <div class="form-el">
      <label for="nights-field">Nights:</label>
      <input
      type="number"
      name="nights"
      id="nights-field"
      value="<%= @booking.nights %>"
      />
    </div>

      <input type='submit' class="button" value="update!">

    </div>
  </form>

</main>
</section>
