<section class="flex-container">
  <main class="flex-item main">

    <h2 class="page_title"><%= @booking.property.name %></h2>

<p>Guest name: <%= @booking.guest.name %></p>
<p>Pax: <%= @booking.pax %></p>
<p>Check in: <%= @booking.check_in_date %></p>
<p>Check out: <%= @booking.check_out_date %></p>
<p>Nights: <%= @booking.nights %></p>

<a href="/bookings/<%= @booking.id %>/edit" class="button">edit</a>
<form action="/bookings/<%= @booking.id %>/delete" method="POST"><input type="submit" value="delete" class="button"></form>
</main>
</section>
