<section class="flex-container">
  <main class="flex-item main">
    <h4>update your guest info.</h4>

    <form method="post" action="/guests/<%= @guest.id %>">

        <div class="form-wrapper">

          <label for="name-field">Name:</label>
            <input type="text" name="name" id="name-field" value="<%= @guest.name %>"/>
          <br>

          <label for="last-name-field">Last Name:</label>
            <input type="text" name="last_name" id="last-name-field" value="<%= @guest.last_name %>"/>
          <br>

          <label for="nationality-field">Nationlity:</label>
            <input type="text" name="nationality" id="nationality-field" value="<%= @guest.nationality %>"/>
          <br>

          <label for="dob-field">DOB:</label>
            <input type="date" name="dob" id="dob-field" value="<%= @guest.dob %>"/>
          <br>

          <label for="documents-selection">Select a document:</label>
            <select name="documents" id="documents-selection">
              <option
              value="Passport"
              <%= "selected" if @guest.documents == "Passport" %>
              >Passport</option>
              <option
              value="Driving license"
              <%= "selected" if @guest.documents == "Driving license" %>
              >Driving license</option>
            </select>
          <br>

          <label for="contacts-field">Contacts:</label>
            <input type="text" name="contacts" id="contacts-field" value="<%= @guest.contacts() %>"/>
          <br>

          <input type='submit' class="button" value="update!">

      </div>
    </form>

</main>
</section>
