<section class="flex-container">
  <main class="flex-item main">
    <h2>.properties</h2>

  <a href="/properties/new" class="button">add a property</a>

    <div id="property-wrapper">
      <% @properties.each do |property| %>
      <div class="cardCont">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
            <div class="property">
            <h3><a href="/properties/<%= property.id %>"><%= property.name %></a></h3>
            <p>Category:<br><%= property.category %></p>
            <p>Place:<br> <%= property.place %></p>
            <p>Contacts:<br> <%= property.contacts %></p>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="property">
            <h3><a href="/properties/<%= property.id %>"><%= property.name %></a></h3>
            <p>Address:<br> <%= property.address %></p>
            <p>Booking platform:<br> <%= property.booking_platform %></p>
            <p>Sleeps:<br> <%= property.sleeps %></p>
            <p>Daily fee:<br> £<%= property.daily_fee %></p>
            </div>
          </div>
        </div>
        </div>
        <% end %>
        </div>
    </div>
  </main>
  <footer class="flex-item footer">Wiggo | Property management
    Palo Alto 3000 Tannery Way Santa Clara, CA 95054.</footer>
</section>
