<section class="flex-container">
  <main class="flex-item main">

    <h2 class="page_title"><%= @guest.guest_name %></h2>

<p>Nationality: <%= @guest.nationality %></p>
<p>DOB: <%= @guest.dob %></p>
<p>Documents: <%= @guest.documents %></p>
<p>Contacts: <%= @guest.contacts %></p>

<a href="/guests/<%= @guest.id %>/edit" class="button">Edit</a>
<form action="/guests/<%= @guest.id %>/delete" method="POST"><input type="submit" value="Delete" class="button"></form>
</main>
</section>
